.input-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--mud-palette-primary);
    background-color: var(--mud-palette-surface); 
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
}

textarea {
    background-color: var(--mud-palette-surface);
    color: var(--mud-palette-text-primary); 
    resize: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

    textarea:placeholder-shown + .tools {
        --send-button-color: #aaa;
    }

.tools {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.tool-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.send-button {
    color: var(--send-button-color);
    margin-left: auto;
}

    .send-button:hover {
        color: black;
    }
