.user-message {
    border: 1px solid var(--mud-palette-primary);
    background: var(--mud-palette-surface);
    align-self: flex-end;
    min-width: 25%;
    max-width: calc(100% - 5rem);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    white-space: pre-wrap;
}

.assistant-message {
    background: var(--mud-palette-surface);
    align-self: flex-start;
    min-width: 25%;
    max-width: calc(100% - 5rem);
    padding: 0.5rem 1.25rem; 
    border-radius: 0.25rem;
    white-space: pre-wrap;
} 